<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BelajarBelajar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Course</h2>
                <br>
                <form th:action="@{/course/add}" th:object="${course}" method="POST">
                    Code Course: <br>
                    <input class="form-control" type="text" name="code"/>
                    <br><br>

                    Nama Course: <br>
                    <input class="form-control" type="text" name="nameCourse"/>
                    <br><br>

                    Description: <br>
                    <input class="form-control" type="text" name="description"/>
                    <br><br>

                    Jumlah SKS: <br>
                    <input required class="form-control" type="number" name="jumlahSks" />
                    <br><br>

                    Tanggal Dibuka: <br>
                    <input required class="form-control" type="datetime-local" name="tanggalDimulai" />
                    <br><br>

                    Tanggal Ditutup: <br>
                    <input required class="form-control" type="datetime-local" name="tanggalBerakhir" />
                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>