<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BelajarBelajar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>List Course</h2>
                <br>
                <div th:each="course : ${listCourse}">
                    <p th:text="'Code Course: ' + ${course.code}"></p>
                    <p th:text="'Nama Course: ' + ${course.nameCourse}"></p>
                    <p th:text="'Description: ' + ${course.description}"></p>
                    <p th:text="'Jumlah SKS: ' + ${course.jumlahSks}"></p>
                    <p th:text="'Tanggal Dimulai: ' + ${#temporals.format(course.tanggalDimulai, 'dd MMMM yyyy HH:mm')}"></p>
                    <p th:text="'Tanggal Berakhir: ' + ${#temporals.format(course.tanggalBerakhir, 'dd MMMM yyyy HH:mm')}"></p>
                    <div class="col">
                        <a class="btn btn-primary" th:href="@{/course/view(code=${course.code})}">Detail
                            Course</a>
                        <a class="btn btn-primary" th:href="@{/course/view-query(code=${course.code})}">Detail
                            Course By Query</a>
                        <a class="btn btn-primary" th:href="@{/course/update/} + ${course.code}">Update Course</a>
                        <a class="btn btn-primary" th:href="@{/course/delete/} + ${course.code}">Delete Course</a>
                    </div>
                    <hr>
                </div>
                <br>
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>